node_modules/
examples/
dist/

packages/leemons-react/build
packages/leemons-react/front
packages/leemons-react/src/templates

data.xlsx
build.tar.gz
cache.js

apps/dev/frontend
apps/dev/build
apps/dev/events.json
docs-build

package-lock.json
yarn.json

.scannerwork

plugins/leemons-plugin-admin/backend/core/organization/transform.js
plugins/leemons-plugin-scorm/backend/public/dist

# This file uses mdx sintax and is not compatible with our eslint config
plugins/leemons-plugin-leebrary/frontend/src/components/LibraryCardContent/LibraryCardContent_mdx.js
