node_modules/
examples/
dist/

packages/leemons-react/build
data.xlsx

packages/leemons-react/front
build.tar.gz
cache.js

apps/dev/frontend
apps/dev/build
apps/dev/events.json
docs-build

package-lock.json
yarn.json

.scannerwork
