/* :> */
@layer components {
  /* <: */
  .modal-overlay {
    @apply fixed top-0 left-0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
  }
  .modal-wrapper {
    @apply fixed top-0 left-0 flex flex-grow place-items-center place-content-center w-full h-full overflow-y-auto overflow-x-hidden;
    z-index: 1050;
    outline: 0;
  }
  .modal {
    @apply pointer-events-none flex items-end justify-center sm:items-center;
    z-index: 100;
  }
  .modal-content {
    @apply pointer-events-auto w-full p-6;
  }
  .modal-header {
    @apply flex flex-grow flex-row items-start p-4 relative;
    .btn[aria-label="Close"] { @apply absolute top-0 right-0;}
  }

  .modal-title {
    @apply flex-grow;
  }

  .modal-body {
    @apply relative flex flex-col w-full px-4;

    &.modal-no-action {
      @apply pb-4;
    }
  }

  .modal-action {
    @apply rounded-b flex justify-between space-x-2 p-1 mt-8;
  }
  /* :> */
}
/* <: */
