/* :> */
@layer components {
  /* <: */
  .select {
    @apply inline-flex cursor-pointer flex-shrink-0 appearance-none select-none;
    @apply px-4 leading-loose h-10 text-sm min-h-10;
    &:focus {
      @apply outline-none;
    }

    /* disabled */
    &-disabled,
    &[disabled] {
      @apply pointer-events-none;
    }
  }
  /* :> */
}
/* <: */
