/* :> */
@layer components {
  /* <: */
  .table {
    @apply relative;
    th:first-child {
      @apply sticky left-0 z-10;
      /* because safari */
      position: -webkit-sticky;
    }
    tr td {
      @apply relative;
    }
    thead.unseen th {
      @apply p-0;
    }
  }
  /* :> */
}
/* <: */
