/* :> */
@layer components {
  /* <: */
  .btn {
    border-width: var(--border-btn, 1px);

    &:active:hover,
    &:active:focus {
      /* -- */
    }
    &:active:hover,
    &:active:focus {
      /* -- */
    }

    /* default btn */
    & {
      @apply bg-neutral border-neutral text-neutral-content;
      &:hover,
      &-active {
        @apply bg-neutral-focus border-neutral-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-neutral border-neutral;
        box-shadow: 0 0 0 2px hsl(var(--n-f));
      }

      &.btn-text {
        @apply border-0 text-neutral;
        background-color: hsl(var(--n) / 0%);
        &:hover,
        &.btn-active {
          background-color: hsl(var(--n) / 10%);
        }
        &:active,
        &:focus-visible {
          background-color: hsl(var(--n) / 10%);
        }
      }
    }
    /* brand colors */
    &-primary {
      @apply bg-primary border-primary text-primary-content;
      &:hover,
      &.btn-active {
        @apply bg-primary-focus border-primary-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-primary border-primary;
        box-shadow: 0 0 0 2px hsl(var(--p-f));
      }

      &.btn-text {
        @apply border-0 text-primary;
        background-color: hsl(var(--p) / 0%);
        &:hover,
        &.btn-active {
          background-color: hsl(var(--p) / 10%);
        }
        &:active,
        &:focus-visible {
          background-color: hsl(var(--p) / 10%);
          box-shadow: 0 0 0 2px hsl(var(--p));
        }
      }
    }
    &-secondary {
      @apply bg-secondary border-secondary text-secondary-content;
      &:hover,
      &.btn-active {
        @apply bg-secondary-focus border-secondary-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-secondary border-secondary;
        box-shadow: 0 0 0 2px hsl(var(--p-f));
      }

      &.btn-text {
        @apply border-0 text-secondary;
        background-color: hsl(var(--s) / 0%);
        &:hover,
        &.btn-active {
          background-color: hsl(var(--s) / 10%);
        }
        &:active,
        &:focus-visible {
          background-color: hsl(var(--s) / 10%);
          box-shadow: 0 0 0 2px hsl(var(--p));
        }
      }
    }
    &-accent {
      @apply bg-accent border-accent text-accent-content;
      &:hover,
      &.btn-active {
        @apply bg-accent-focus border-accent-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-accent border-accent;
        box-shadow: 0 0 0 2px hsl(var(--a-f));
      }

      &.btn-text {
        @apply border-0 text-accent;
        background-color: hsl(var(--a) / 0%);
        &:hover,
        &.btn-active {
          background-color: hsl(var(--a) / 10%);
        }
        &:active,
        &:focus-visible {
          background-color: hsl(var(--a) / 10%);
          box-shadow: 0 0 0 2px hsl(var(--a-f));
        }
      }
    }

    &-white {
      @apply bg-white border-white text-black;
      &:hover,
      &.btn-active {
        @apply border-black;
      }
      &:active,
      &:focus-visible {
        box-shadow: 0 0 0 2px hsl(var(--s-f));
      }

      &.btn-text {
        @apply border-0 text-white;
        background-color: rgba(255, 255, 255, 0);
        &:hover,
        &.btn-active {
          background-color: rgba(255, 255, 255, 0.1);
        }
        &:active,
        &:focus-visible {
          background-color: rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
        }
      }
    }

    /* btn with state colors */
    &-info {
      @apply bg-info border-info text-info-content;
      &:hover,
      &.btn-active {
        @apply bg-info-focus border-info-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-info border-info;
        box-shadow: 0 0 0 2px hsl(var(--in-f));
      }
    }
    &-success {
      @apply bg-success border-success text-success-content;
      &:hover,
      &.btn-active {
        @apply bg-success-focus border-success-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-success border-success;
        box-shadow: 0 0 0 2px hsl(var(--su-f));
      }
    }
    &-warning {
      @apply bg-warning border-warning text-warning-content;
      &:hover,
      &.btn-active {
        @apply bg-warning-focus border-warning-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-warning border-warning;
        box-shadow: 0 0 0 2px hsl(var(--wa-f));
      }
    }
    &-error {
      @apply bg-error border-error text-error-content;
      &:hover,
      &.btn-active {
        @apply bg-error-focus border-error-focus;
      }
      &:active,
      &:focus-visible {
        @apply bg-error border-error;
        box-shadow: 0 0 0 2px hsl(var(--er-f));
      }
    }

    /* glass */
    &.glass {
      &:hover,
      &.btn-active {
        --glass-opacity: 25%;
        --glass-border-opacity: 15%;
      }
      &:focus-visible {
        box-shadow: 0 0 0 2px currentColor;
      }
    }

    /* btn variants */
    &-ghost {
      @apply bg-transparent text-current border border-transparent;
      &:hover,
      &.btn-active {
        @apply bg-base-content bg-opacity-20 border-opacity-0;
      }
      &:focus-visible {
        @apply bg-base-content bg-opacity-0;
        box-shadow: 0 0 0 2px currentColor;
      }
    }
    &-link {
      @apply bg-transparent border-transparent text-neutral px-0;
      &.btn-primary {
        @apply text-primary;
      }
      &.btn-secondary {
        @apply text-secondary;
      }
      &.btn-accent {
        @apply text-accent;
      }
      &:hover,
      &.btn-active {
        @apply underline bg-transparent border-transparent;
      }
      &:focus-visible {
        @apply bg-transparent border-transparent;
        box-shadow: 0 0 0 2px currentColor;
      }
    }

    /* outline */
    &-outline {
      @apply bg-transparent text-base-content border-current;
      &:hover {
        @apply bg-base-content border-base-content text-base-100;
      }
      &.btn-primary {
        @apply text-primary;
        &:hover {
          @apply bg-primary-focus text-primary-content border-primary-focus;
        }
        &:active,
        &:focus-visible {
          @apply bg-primary border-primary text-primary-content;
          box-shadow: 0 0 0 2px hsl(var(--p-f));
        }
      }
      &.btn-secondary {
        @apply text-secondary;
        &:hover {
          @apply bg-secondary-focus text-secondary-content border-secondary-focus;
        }
        &:active,
        &:focus-visible {
          @apply bg-secondary border-secondary text-secondary-content;
          box-shadow: 0 0 0 2px hsl(var(--p-f));
        }
      }
      &.btn-accent {
        @apply text-accent;
        &:hover {
          @apply bg-accent-focus text-accent-content border-accent-focus;
        }
        &:active,
        &:focus-visible {
          @apply bg-accent border-accent text-accent-content;
          box-shadow: 0 0 0 2px hsl(var(--a-f));
        }
      }
    }

    /* disabled */
    &-disabled,
    &[disabled] {
      @apply bg-neutral border-opacity-0 bg-opacity-20 text-base-content text-opacity-20;

      &.btn-primary {
        @apply text-base-200;
        background-color: hsl(var(--p) / 0.7);
      }

      &.btn-secondary {
        @apply text-base-300;
        background-color: hsl(var(--s) / 0.7);
      }
    }

    /* loading */
    &.loading {
      &.btn-square:before,
      &.btn-circle:before {
        @apply mr-0;
      }
      &.btn-xl:before,
      &.btn-lg:before {
        @apply h-5 w-5;
      }
      &.btn-sm:before,
      &.btn-xs:before {
        @apply h-3 w-3;
      }
    }
    /* search */
    &.btn-search {
      @apply btn-xs bg-transparent border-0;
    }

  }
  /* group */
  .btn-group {
    & > input[type='radio']:checked.btn,
    & > .btn-active {
      @apply bg-primary border-primary text-primary-content;
      &:focus-visible {
        box-shadow: 0 0 0 2px hsl(var(--p));
      }
    }
    & > .btn {
      z-index: 10;
      &:active,
      &:focus-visible {
        z-index: 1000;
      }
    }

    & > .btn:not(:first-child) {
      @apply rounded-l-none -ml-px;
    }
    & > .btn:not(:last-child) {
      @apply rounded-r-none;
    }
  }

  /*
  @keyframes button-pop {
    0% {
      transform: scale(var(--btn-focus-scale, 0.98));
    }
    40% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  */

  @keyframes button-pop {
    0% {
      box-shadow: 0 0 0 0 hsl(var(--b3));
    }
    30% {
      box-shadow: 0 0 0 2px hsl(var(--b3));
    }
    70% {
      box-shadow: 0 0 0 2px hsl(var(--b3));
    }
    100% {
      box-shadow: 0 0 0 0 hsl(var(--b3));
    }
  }

  @keyframes button-pop-primary {
    0% {
      box-shadow: 0 0 0 0 hsl(var(--p-f));
    }
    30% {
      box-shadow: 0 0 0 2px hsl(var(--p-f));
    }
    70% {
      box-shadow: 0 0 0 2px hsl(var(--p-f));
    }
    100% {
      box-shadow: 0 0 0 0 hsl(var(--p-f));
    }
  }

  @keyframes button-pop-secondary {
    0% {
      box-shadow: 0 0 0 0 hsl(var(--p-f));
    }
    30% {
      box-shadow: 0 0 0 2px hsl(var(--p-f));
    }
    70% {
      box-shadow: 0 0 0 2px hsl(var(--p-f));
    }
    100% {
      box-shadow: 0 0 0 0 hsl(var(--p-f));
    }
  }

  @keyframes button-pop-accent {
    0% {
      box-shadow: 0 0 0 0 hsl(var(--a-f));
    }
    30% {
      box-shadow: 0 0 0 2px hsl(var(--a-f));
    }
    70% {
      box-shadow: 0 0 0 2px hsl(var(--a-f));
    }
    100% {
      box-shadow: 0 0 0 0 hsl(var(--a-f));
    }
  }
  /* :> */
}
/* <: */
