/* :> */
@layer components {
  /* <: */
  .label {
    @apply pt-2 pb-1;
    &-text {
      @apply text-sm;
      color: #000000;
    }
    &-text-alt {
      @apply text-xs;
      color: #000000;
    }
    a {
      @apply hover:text-base-content;
    }

    .read-only-label & {
      .label-text {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }
  }
  .fc_legend {
    @apply font-inter text-gray-800 text-xs;
  }
  .edit-section {
    min-height: 12rem;
  }
  /* :> */
}
/* <: */
