/* :> */
@layer components {
  /* <: */
  .modal-overlay {
    @apply bg-black bg-opacity-40;
  }
  .modal-wrapper {
    @apply p-2;
  }
  .modal {
    @apply rounded bg-base-100 sm:max-w-md w-full overflow-hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .modal-title {
    @apply text-black text-2xl;
  }

  .modal-body {
    @apply bg-base-100 font-inter font-light text-sm;
  }

  /*
  .modal {
    @apply fixed top-0 left-0 transition duration-200 ease-in-out bg-neutral-focus bg-opacity-40;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
  }
  .modal-box {
    @apply transform translate-y-10 sm:translate-y-0 sm:scale-90 transition duration-200 ease-in-out rounded-t-box sm:rounded-b-box bg-base-100 sm:max-w-lg p-6 w-full;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  */

  /* Animation Classes */
  .info-container {
    @apply  bg-white h-full w-full max-w-2xl absolute right-0 top-0 z-50;
    box-shadow: -32px 0px 32px rgba(35, 43, 60, 0.05), -100px 0px 60px rgba(51, 63, 86, 0.03);
    .info-content {
      @apply grid min-h-screen;
      grid-auto-rows: min-content auto;
    }
    .info-header {
      @apply flex justify-between items-center p-3;
      /*apply bg-gray-10;*/
    }
    .info-body {
      @apply bg-gray-10 p-4;
      > .table { 
          @apply bg-white w-full;
          thead th {
            @apply pt-4;
          }

      }
    }
  }
 

  .modal-animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }

  .modal-animation-fade-in {
    animation-name: fadeIn;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  /* :> */
}
/* <: */
