/* :> */
@layer components {
  /* <: */
  .toggle {
    @apply appearance-none opacity-0 w-0 h-0 absolute;
    & ~ .toggle-mark {
      @apply w-10 h-6 rounded-badge border border-gray-30 bg-gray-30;
      &:before {
        @apply w-5 h-5 m-px rounded-badge bg-white;
        animation: togglemark-off var(--animation-input, 0.4s) ease-in-out;
      }
    }
    &:focus-visible,
    &:checked:focus-visible,
    &:checked:hover:focus-visible {
      & ~ .toggle-mark {
      }
    }
    &:checked {
      &,
      &:hover {
        & ~ .toggle-mark {
          &:before {
            @apply transform translate-x-4;
            animation: togglemark-on var(--animation-input, 0.4s) ease-in-out;

            /* RTL quick fix */
            [dir='rtl'] & {
              @apply -translate-x-4;
            }
          }
        }
      }
    }
    &-primary {
      &:focus-visible,
      &:checked:focus-visible,
      &:checked:hover:focus-visible {
        & ~ .toggle-mark {
        }
      }
      &:checked {
        &,
        &:hover {
          & ~ .toggle-mark {
            @apply border-primary bg-primary;
            &:before {
            }
          }
        }
      }
    }
    &-secondary {
      &:focus-visible,
      &:checked:focus-visible,
      &:checked:hover:focus-visible {
        & ~ .toggle-mark {
        }
      }
      &:checked {
        &,
        &:hover {
          & ~ .toggle-mark {
            @apply border-secondary bg-secondary;
            &:before {
            }
          }
        }
      }
    }
    &-accent {
      &:focus-visible,
      &:checked:focus-visible,
      &:checked:hover:focus-visible {
        & ~ .toggle-mark {
        }
      }
      &:checked {
        &,
        &:hover {
          & ~ .toggle-mark {
            @apply border-accent bg-accent;
            &:before {
            }
          }
        }
      }
    }

    &-error {
      & ~ .toggle-mark {
        @apply border-error;
      }
      &:focus-visible,
      &:checked:focus-visible,
      &:checked:hover:focus-visible {
        & ~ .toggle-mark {
        }
      }
      &:checked {
        &,
        &:hover {
          & ~ .toggle-mark {
            @apply border-error bg-error;
            &:before {
            }
          }
        }
      }
    }

    &:disabled,
    &:disabled:hover {
      & ~ .toggle-mark {
        @apply bg-base-content bg-opacity-20 cursor-not-allowed border-transparent;
        &:before {
          @apply border-transparent;
        }
      }
      &:checked {
        & ~ .toggle-mark {
          &:before {
            @apply border-base-100 bg-base-content;
          }
        }
      }
    }
  }

  @keyframes togglemark-off {
    50% {
      margin-left: 0;
    }
  }
  @keyframes togglemark-on {
    50% {
      margin-left: 2px;
    }
  }
  /* :> */
}
/* <: */
