/* :> */
@layer components {
  /* <: */
  .tooltip {
    @apply inline-block relative text-center;
    --tooltip-tail: 4px;
    --tooltip-color: hsl(var(--black));
    --tooltip-text-color: hsl(var(--white));
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));

    &.sharp:before {
      border-radius: 0 !important;
    }
  }
  .tooltip:before,
  .tooltip:after {
    @apply opacity-0 transition delay-100 duration-200 ease-in-out;
  }
  .tooltip:before {
    @apply rounded-btn text-sm px-3 max-w-xs py-1.5;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
  }
  .tooltip.tooltip-open:before,
  .tooltip.tooltip-open:after,
  .tooltip:hover:before,
  .tooltip:hover:after {
    @apply opacity-100 delay-75;
  }
  .tooltip:after {
    content: '';
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
  }

  .tooltip {
    &-primary {
      --tooltip-color: hsl(var(--p));
      --tooltip-text-color: hsl(var(--p-c));
    }
    &-secondary {
      --tooltip-color: hsl(var(--s));
      --tooltip-text-color: hsl(var(--s-c));
    }
    &-accent {
      --tooltip-color: hsl(var(--a));
      --tooltip-text-color: hsl(var(--a-c));
    }
    &-info {
      --tooltip-color: hsla(var(--in));
      --tooltip-text-color: hsl(var(--in-c));
    }
    &-success {
      --tooltip-color: hsla(var(--su));
      --tooltip-text-color: hsl(var(--su-c));
    }
    &-warning {
      --tooltip-color: hsla(var(--wa));
      --tooltip-text-color: hsl(var(--wa-c));
    }
    &-error {
      --tooltip-color: hsla(var(--er));
      --tooltip-text-color: hsl(var(--er-c));
    }
  }
  /* :> */
}
/* <: */
