/* :> */
@layer components {
  /* <: */
  .tooltip-container {
    @apply flex flex-col rounded-btn text-sm px-3 max-w-xs py-1.5 shadow-lg;
    --tooltip-color: hsl(var(--black));
    --tooltip-text-color: hsl(var(--white));
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-name: fadeIn;
    z-index: 2000;

    &[data-popper-interactive='false'] {
      @apply pointer-events-none;
    }
  }

  .tooltip-arrow {
    @apply absolute block pointer-events-none;
    --tooltip-tail: 4px;
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
    content: '';
    border-style: solid;
    border-width: var(--tooltip-tail, 0);
    width: 0;
    height: 0;
  }

  .tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow {
    transform: translateX(-50%);
    border-color: transparent transparent var(--tooltip-color) transparent;
    top: calc(var(--tooltip-tail) * -2);
    left: 50%;
    right: auto;
    bottom: auto;
  }

  .tooltip-container[data-popper-placement*='top'] .tooltip-arrow {
    transform: translateX(-50%);
    border-color: var(--tooltip-color) transparent transparent transparent;
    top: 100%;
    left: 50%;
    right: auto;
    bottom: 0;
  }

  .tooltip-container[data-popper-placement*='right'] .tooltip-arrow {
    transform: translateY(-50%);
    border-color: transparent var(--tooltip-color) transparent transparent;
    top: 50%;
    left: auto;
    right: 100%;
    bottom: auto;
  }

  .tooltip-container[data-popper-placement*='left'] .tooltip-arrow {
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--tooltip-color);
    top: 50%;
    left: 100%;
    right: auto;
    bottom: auto;
  }

  .tooltip {
    &-primary {
      --tooltip-color: hsl(var(--p));
      --tooltip-text-color: hsl(var(--p-c));
    }
    &-secondary {
      --tooltip-color: hsl(var(--s));
      --tooltip-text-color: hsl(var(--s-c));
    }
    &-accent {
      --tooltip-color: hsl(var(--a));
      --tooltip-text-color: hsl(var(--a-c));
    }
    &-info {
      --tooltip-color: hsla(var(--in));
      --tooltip-text-color: hsl(var(--in-c));
    }
    &-success {
      --tooltip-color: hsla(var(--su));
      --tooltip-text-color: hsl(var(--su-c));
    }
    &-warning {
      --tooltip-color: hsla(var(--wa));
      --tooltip-text-color: hsl(var(--wa-c));
    }
    &-error {
      --tooltip-color: hsla(var(--er));
      --tooltip-text-color: hsl(var(--er-c));
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* :> */
}
/* <: */
