/* :> */
@layer components {
  /* <: */

  .tree {
    @apply overflow-hidden w-full;
    @apply bg-white p-4;
  }

  .tree_draggingSource {
    & .tree-node {
      @apply bg-gray-300 opacity-10;
      @apply border-gray-300 !important;

      & .tree-node_lines {
        @apply border-gray-600;
      }
    }
  }

  .tree_placeholderContainer {
    position: relative;
  }

  .tree_dropTarget {
  }

  .tree-node {
    grid-template-columns: auto auto 1fr auto;
  }

  .tree-node_placeholder {
    @apply bg-primary;
    height: 1px;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
  }

  .tree-node_dragPreview {
    align-items: 'center';
    background-color: #1967d2;
    border-radius: 4px;
    box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: inline-grid;
    font-size: 14px;
    gap: 8px;
    grid-template-columns: auto auto;
    padding: 4px 8px;
    pointer-events: none;
  }

  .tree_editWrapper {
    @apply border border-current text-primary border-dashed p-4 w-full;
  }

  /* :> */
}
/* <: */
