.prose {
  max-width: inherit;
}

.prose {
  color: inherit;
  a,
  blockquote,
  figure figcaption,
  a code,
  thead,
  strong,
  .lead,
  h1,
  h2,
  h3,
  h4 {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  p {
    color: hsl(var(--b-c));
    font-family: 'Inter', sans-serif;
  }
  code {
    background: hsla(var(--s-c) / 0.2);
    color: hsl(var(--s-c));
    padding: 2px 6px;
    border-radius: var(--rounded-badge);
  }
  pre {
    background: hsl(var(--s));
    color: hsl(var(--s-c));
    border-radius: var(--rounded-box);
    code {
      border-radius: none;
      background: inherit;
      color: inherit;
    }
  }
  & code:after,
  & code:before {
    content: none;
  }
  ol > li:before,
  ol > li:hover:before {
    color: inherit;
  }
  blockquote {
    border-left-color: hsl(var(--b-c) / 40%);
  }
  ul > li:before {
    background-color: hsl(var(--b-c) / 40%);
  }

  figure figcaption {
    font-size: 0.8rem;
    color: hsl(var(--b-c));
  }
}
.page-description {
  @apply text-base text-secondary mt-2;
}
.page-title {
  &-l2 {
    @apply text-2xl text-secondary font-semibold;
  }
}
