/* device specific */
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-weight: 300;
}

/* Hide visually but still be available to screenreaders
  /// @group Main
  /// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  /// @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  /// @author Jonathan Snook
  ///
  /// @ignore 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line:
  /// @ignore https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
.read-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.unseen {
  visibility: hidden;
}
